[package]
name = "dashu"
version = "0.3.0"
edition = "2021"
authors = ["Jacob Zhong <cmpute@gmail.com>"]
description = "A library set of big numbers"
keywords = ["mathematics", "bignum"]
categories = ["mathematics", "no-std"]
repository = "https://github.com/cmpute/dashu"
homepage = "https://github.com/cmpute/dashu"
documentation = "https://docs.rs/dashu"
readme = "README.md"
license = "MIT OR Apache-2.0"
rust-version = "1.61"

[package.metadata.docs.rs]
all-features = true

[workspace]
members = [
    "base",
    "benchmark",
    "integer",
    "float",
    "macros",
    "rational"
]
default-members = ["base", "integer", "float", "rational", "macros"]

[features]
default = ["std", "rand", "num-traits", "num-order"]
std = ["dashu-base/std", "dashu-int/std", "dashu-float/std", "dashu-ratio/std"]
rand = ["dashu-int/rand", "dashu-float/rand", "dashu-ratio/rand"]
serde = ["dashu-int/serde", "dashu-float/serde", "dashu-ratio/serde"]
num-traits = ["dashu-int/num-traits", "dashu-float/num-traits", "dashu-ratio/num-traits"]
num-order = ["dashu-int/num-order"]
zeroize = ["dashu-int/zeroize", "dashu-float/zeroize", "dashu-ratio/zeroize"]

# this feature enables all related features related to decimal crates.
decimal_extras = ["dashu-float/postgres-types", "dashu-float/diesel2"]

[dependencies]
# all crates under dashu will have the same major version,
# but the minor and patch versions can be different.
dashu-base = { version = "0.3.0", default-features = false, path = "./base" }
dashu-int = { version = "0.3.0", default-features = false, path = "./integer" }
dashu-float = { version = "0.3.0", default-features = false, path = "./float" }
dashu-ratio = { version = "0.3.0", default-features = false, path = "./rational", features = ['dashu-float'] }
dashu-macros = { version = "0.3.0", default-features = false, path = "./macros", features = ["embedded"] }

