[package]
name = "dashu"
version = "0.1.0"
edition = "2021"

[dependencies]
dashu-base = { path = "./base" }
dashu-int = { path = "./integer" }

[workspace]
members = [
    "base",
    "benchmark",
    "integer",
]
