[package]
name = "dashu-ratio"
version = "0.3.0"
authors = ["Jacob Zhong <cmpute@gmail.com>"]
edition = "2021"
description = "A big rational library with good performance"
keywords = ["mathematics", "numerics", "rational", "bigrat", "arbitrary-precision"]
categories = ["mathematics", "no-std"]
license = "MIT OR Apache-2.0"
repository = "https://github.com/cmpute/dashu"
homepage = "https://github.com/cmpute/dashu"
documentation = "https://docs.rs/dashu-ratio"
readme = "README.md"
rust-version = "1.61"

[package.metadata.docs.rs]
all-features = true

[features]
default = ["std"]
std = ["dashu-base/std", "dashu-int/std"]
serde = ["dep:serde", "dashu-int/serde"]

[dependencies]
serde = { version = "1.0.147", optional = true, default-features = false }

[dependencies.dashu-base]
path = "../base"
version = "0.3.0"
default-features = false

[dependencies.dashu-int]
path = "../integer"
version = "0.3.0"
default-features = false

[dev-dependencies.criterion]
version = "0.4.0"
features = ["html_reports"]

[dev-dependencies.rand]
version = "0.8.3"

[dev-dependencies]
serde_json = "1.0.89"

[lib]
bench = false
