[package]
name = "dashu-float"
version = "0.3.0"
authors = ["Jacob Zhong <cmpute@gmail.com>"]
edition = "2021"
description = "A big float library supporting arbitrary precision, arbitrary base and arbitrary rounding mode"
keywords = ["mathematics", "numerics", "floating-point", "decimal", "arbitrary-precision"]
categories = ["mathematics", "no-std"]
license = "MIT OR Apache-2.0"
repository = "https://github.com/cmpute/dashu"
homepage = "https://github.com/cmpute/dashu"
documentation = "https://docs.rs/dashu-float"
readme = "README.md"
rust-version = "1.61"

[package.metadata.docs.rs]
all-features = true

[features]
default = ["std", "rand"]
rand = ["dep:rand", "dashu-int/rand"]
std = ["dashu-base/std", "dashu-int/std"]
num-traits = ["dep:num-traits", "dashu-int/num-traits"]

[dependencies]
num-traits = { version = "0.2.15", optional = true }

[dependencies.static_assertions]
version = "1.1"

[dependencies.dashu-base]
path = "../base"
version = "0.3.0"
default-features = false

[dependencies.dashu-int]
path = "../integer"
version = "0.3.0"
default-features = false

[dependencies.rand]
optional = true
version = "0.8.3"
default-features = false
